    openapi: 3.1.0

    info:
      title: Order Service API
      description: Order Service API for putting orders  
      version: 1.0.0

    servers:
      - url: http://api.orderservice.com/v1
        description: Main production server

    paths:
      /orders:
        get:
          summary: Returns a list of orders.
          responses:
            '200':
              description: A JSON array of orders 
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: Order 
      /orders/{id}:
        put:
          summary: Update Orders 
          description: Update existing order with given id.
          parameters:
          - in: path
            name: id
            schema:
              type: integer
              format: int32
            required: true
          - in: header 
            name: updatedOrder
            description: updatedOrders
            required: true
            schema:
              $ref: "#/components/schemas/Order"
          responses:
            '200':
              description: The updated or newly added order. 
            '404':
              description: Order with requested id not found.

      # /order/{id}/item/{itemId}:
      #   get:

      # /neworder:
      #   post:

      # /order/{orderId}/item:
      #   post:

      # /order/{id}/item/{itemId}:
      #   delete:

      # /orders/{id}:
      #   delete:

      # /order/{id}/commit:
      #   post:




    components:
      schemas:
        Order:
          type: object
          properties:
            name:
              type: string

