    openapi: 3.1.0

    info:
      title: Order Service API
      description: Order Service API for putting orders  
      version: 1.0.0

    servers:
      - url: http://api.orderservice.com/v1
        description: Main production server

    paths:
      /orders:
        get:
          summary: Returns a list of orders.
          responses:
            '200':
              description: A JSON array of orders 
              content:
                application/json:
                  schema: 
                    type: array
                    items: 
                      type: Order 
      /orders/{id}:
        put:
          summary: Update Orders 
          description: Update existing order with given id.
          parameters:
          - in: path
            name: id
            schema:
              type: integer
              format: int32
            required: true
          responses:
            '200':
              description: The updated or newly added order. 
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Order"

            '404':
              description: Order with requested id not found.

      /order/{id}/item/{itemId}:
        get:
          summary: Retrieving all line items of an order with a given id
          parameters:
          - in: path
            name: id
            schema:
              type: integer
              format: int32
            required: true
          - in: path
            name: itemId
            schema:
              type: integer
              format: int32
            required: true
          responses:
            '200':
              description: Retrieved item of order with given id. 
              content:
                application/json:
                  schema:
                    type: array
                    item:
                      $ref: '#/components/schemas/Item'
            '404':
              description: Order with requested id of item not found.

      /neworder:
        post:
          summary: Returns a new order.
          parameters:
          - in: header
            name: customerName
            schema:
              type: string
            required: true
          responses:
            '200':
              description: Created new order.
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/Order'
            '404':
              description: Order with requested id of item not found.

      /order/{orderId}/item:
        post:
          summary: Adding a new line item to an order
          parameters:
          - in: path 
            name: orderId 
            schema:
              type: integer
              format: int32
            required: true
          responses:
            '200':
              description: Added new line item to an order 
              content:
                application/json:
                  schema:
                    $ref: '#/components/schemas/Item'
            '404':
              description: Order with requested id of item not found.

      # /order/{id}/item/{itemId}:
      #   delete:

      # /orders/{id}:
      #   delete:

      # /order/{id}/commit:
      #   post:




    components:
      schemas:
        Order:
          type: object
          properties:
            name:
              type: string
        Item:
          type: object
          properties:
            name:
              type: string

